# General
.DS_Store

# the '.venv' directory is used for python virtual environments
.venv

# directories used when running MkDocs locally
.cache/plugin/

# files generated when running MkDocs locally
docs/blog/index.md
